//Displays
@mixin setFlex ($dir, $aligH: center, $aligV:center){
    display: flex;
    flex-direction: $dir;
    flex-wrap: wrap;

    @if ($dir == column){
        align-content: $aligH;
        justify-content: $aligV;
    } @else{
        align-content: $aligV;
        justify-content: $aligH;
    }
}

.leftSide{
    background-image:url(https://thumbs.dreamstime.com/z/fondo-pesado-de-la-tela-del-brocado-22705012.jpg) ;
}