
@import 'compartir/todo';


@import 'componentes/encuesta';
@import 'componentes/fotos';
@import 'componentes/menus';
@import 'componentes/titulos';


*{
    position: relative;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: 50% 50%;        
    grid-template-areas: "reno  imgPrincipal" 
                        "Bell1  Bell3"                        
                        "claus1  fotos"
                        "Bell2   fotos"
                        "Bell2  relleno";                       
   }

#reno{
    grid-area: reno;

    @include setFlex(column);       
    align-items: center;
    padding: 0.5rem 2rem;
}



#Bell1{
    grid-area: Bell1;
    @include setFlex(column);   

    padding: 1rem 2rem;
    align-items: center;
}

#Bell2{
    grid-area: Bell2;
    text-align: center;
    padding: 1rem 2rem;

    p{
        text-align: justify;
        padding: 0.5rem;
    }
}

#Bell3{    
    grid-area: Bell3;

    padding: 1rem 2rem;
    text-align: center;


}

@media all and (max-width:px){

    body{
        grid-template-columns: 100%;
        grid-template-areas: "reno"
                             "imgPrincipal"                              
                            "Bell1"
                            "fotos"                        
                            "claus1"
                            "Bell3"
                            "Bell2"
                            "relleno";
    }   

    #reno{
        grid-area: reno;
    }

    #imgPrincipal{
        grid-area: imgPrincipal;  
    }
    
    #Bell1{
        grid-area: Bell1;
    }

    #Bell2{
        grid-area: Bell2;
    }

    #Bell3{    
        grid-area: Bell3;
    }

    #fotos{
        grid-area: fotos;
    }

    #relleno{
        grid-area: relleno;
    }

    #claus1{
        grid-area: claus1;
    }
}

#imgPrincipal{
grid-area: imgPrincipal;   
text-align: center;      

img{
width: 100%;             
filter: opacity(1);
 transition: all 300ms ease-in-out;

 &:hover{
 filter: opacity(1);            
        }
        
        
    }
}